<button (click)="showComputers()">Computers</button>
<button (click)="addComputer()">Add</button>
<button (click)="updateComputer()">Update</button>
<button (click)="deleteComputer()">Delete</button>
{{computers}}
